body {
    display: flex;
    flex-direction: column; /* Adiciona essa linha */
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.titulo {
    font-family: 'Edu AU VIC WA NT Dots', cursive;
    color: rgb(242, 138, 155);
    text-align: center; 
}
