body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-family: "Edu AU VIC WA NT Dots", cursive;
    color: pink;
    text-align: center;
}
