body {
    margin: 0;
    height: 100vh;
    background-image: url('urubu.jpg'); /* Define a imagem de fundo */
    background-size: cover; /* Cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%; /* Ocupa 50% da altura da tela */
    background-color: rgba(255, 255, 255, 0.7); /* Fundo semitransparente */
}

.titulo {
    font-family: 'Edu AU VIC WA NT Dots', cursive;
    color: rgb(242, 138, 155);
    text-align: center; 
}
